/target/
/.settings/
*.classpath
*.project
*.iml
/.idea/
*.jar
*.lst
*.log
kugou-provider/target/
kugou-server/target/
kugou-common/target/
kugou-mybatis/target/
kugou-domain/target/
kugou-domainipml/target/